#p1{
    background-color: aquamarine;height: 300px;
}
#p2{
    background-color: aquamarine;height: 700px;
}
p{
    background-color: aquamarine;height: 1015px;border: 3px solid blanchedalmond;
}
#p3{
    background-color: aquamarine;height: 600px;
}
#p4{
    background-color:aquamarine;height: 400px;
}