#p1{
    background-color: grey;text-align: center;padding-top: 200px;padding-bottom: 200px;
}
#p2{
    background-color: lightgrey;text-align: center;height: 50px;
}
#col1{
    background-color: lightgray;
}
button{
    width: 100%;
}
#p3{
    background-color: grey;text-align: center;padding-top: 200px;padding-bottom: 200px;font-size: xx-large;height: 500px;
}
#p4{
    height: 200px;
}


    
