h1{
    text-align: center;
}
p{
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;

}
img{
    width: 500px;
    margin-left: 36%;
}
@media (max-width:1700px) and (min-width:1550px){
    img{
        margin-left:33%;       
    }
}
@media (max-width:1549px) and (min-width:1350px){
    img{
        margin-left:31%;       
    }
}
@media (max-width:1349px) and (min-width:1150px){
    img{
        margin-left:29%;       
    }
}
@media (max-width:1149px) and (min-width:950px){
    img{
        margin-left:26%;       
    }
}

