
 .color-highlight {
        color: #415678;
    }
p{
    box-sizing: border-box;
    display: block;
    color: #717e96;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Heebo', sans-serif;
}
.btn1{
    background: #415678;
    padding: 12px 30px;
    font-weight: 500;
    font-size: 15px;
    border-radius: 5px;
    color: #fff;
    margin-top: 22px;
    border: 2px solid transparent;
    transition: .5s ease-out;
    display: inline-block;
}
   .btn1:hover {background-color:#415678}

.btn2{
    padding: 12px 30px;
    font-weight: 500;
    font-size: 15px;
    border-radius: 5px;
    margin-top: 22px;
    border: 2px solid #415678 ;
    transition: .1s ease-out;
    display: inline-block;
}
 .cirle-list{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right: 10px;
    background: #415678;
    display: inline-block;
 }
/* .img1.content:hover{
     background: #415678;
    transition: all .3s ease;
    text-align: center;
    padding: 15px;
    background: #f8f8fc;
    border-radius: 15px;
    transition: all .3s ease;
}
*/

.card{
    padding: 15px;
    background: #f8f8fc;
    border-radius:30px;
    transition: all .3s ease;
    text-align: center;
    border-start-end-radius: 20px;
}
.a:hover{
    background-color: #415678;
    color: #fff;
}
.card-text1:hover{
    color: #fff;
}
.image-top1{
    background-color:white;
}
.back{
    background-color: #415678;
}