
 .color-highlight {
        color: #415678;
    }
p{
    box-sizing: border-box;
    display: block;
    color: #717e96;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Heebo', sans-serif;
}
.btn1{
    color: #415678;
    padding: 12px 30px;
    font-weight: 500;
    font-size: 15px;
    border-radius: 5px;
    color: #fff;
    margin-top: 22px;
    border: 2px solid transparent;
    transition: .5s ease-out;
    display: inline-block;
}
   .btn1:hover {background-color:#415678}

.btn2{
    padding: 12px 30px;
    font-weight: 500;
    font-size: 15px;
    border-radius: 5px;
    margin-top: 22px;
    border: 2px solid #415678 ;
    transition: .1s ease-out;
    display: inline-block;
}
 .cirle-list{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right: 10px;
    background: #415678;
    display: inline-block;
 }

.card{
    padding: 15px;
    background: #f8f8fc;
    border-radius:50px;
    transition: all .3s ease;
    text-align: center;
    border-start-end-radius: 20px;
}
.card.a{
    border-radius: 50px;
}
.a:hover{
    background-color: #415678;
    color: #fff;
    
}
.card-text1:hover{
    color: #fff;
}
.image-top1{
    background-color:white;
}
.card.back{
    background-color:#415678;
    border-radius: 50px;
}
.img:hover{
    opacity: 0.3;
    color: black;
}
.middle:hover{
    opacity: 1;
    
}
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  .text {
    color:white;
    font-size: 16px;
    
  }  




  /* -----------------------------------
        Gallery Section
  --------------------------------------*/
  .portfolio-section {
    padding: 50px 0;
    background-color:#fff;
  }
  .portfolio-section h2 {
    font-size: 28px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
  }
  .portfolio-menu {
    text-align: center;
  }
  .control {
    background:#000;
    color: #fff;
    padding: 5px 10px;
    
    margin: 5px;
    cursor: pointer;
    -webkit-transition: all 05s ease;
    -moz-transition: all 05s ease;
    -ms-transition: all 05s ease;
    -o-transition: all 05s ease;
    transition: all 0.5s ease;
  }
  .control:hover {
    background: #343a40; 
    
  }
  .mixitup-control-active {
    color: #fff;
    background: #343a40;
  }
  .fancybox-container button:focus {
    outline: 0;
    box-shadow: none;
  }
  .portfolio-item {
    padding-top: 30px;
  }
  .pd {
    padding: 0;
    padding: 10px;
  }
  .pd img {
    height: 320px;
    transition: all 0.5s;
    border-radius: 30px;
  }
  .portfolio-overlay {
    position: absolute;
    z-index: 2;
    top: 10px;
    left:10px;
    bottom: 10px;
    background: rgba(0, 0, 0, 0.7);
    width: 75%;
    text-align: center;
    visibility: hidden;
    transition: all 0.5s;
    transform: scale(0);
    border-radius: 30px;
  }
  .portfolio-overlay p,
  .portfolio-overlay a {
    position: relative;
    z-index: 4;
  }
  .portfolio-overlay::before {
    content: "";
    width: 0;
    height: 0;
    border-width: 0;
    position: absolute;
    left: 10%;
    top: 10%;
    transition: 50ms height ease 150ms;
    z-index: 3;
  }
  .portfolio-overlay::after {
    content: "";
    width: 0;
    height: 0;
    border-width: 0;
    position: absolute;
    right: 10%;
    bottom: 10%;
    transition: 100ms width ease 200ms;
    z-index: 3;
  }
  .portfolio-item:hover .portfolio-overlay::before {
    width: 50%;
    height: 80%;
    transition: width 0.1s ease 0.3s, height 0.1s ease 0.5s;
  }
  .portfolio-item:hover .portfolio-overlay::after {
    width: 50%;
    height: 80%;
    transition: width 0.1s ease 0.6s, height 0.1s ease 0.7s;
  }
  .portfolio-item li:hover .portfolio-overlay {
    visibility: visible;
    transform: scale(1);
  }
  .portfolio-overlay .category {
    margin-top: 70px;
    margin-bottom: 20px;
    font-size: 25px;
    color: #fff;
    font-weight: 500;
  }
  
  .portfolio-overlay .magnify-icon:hover {
    background: #000;

  } 
 


  
  

  .card.ser{
    border-radius: 50px;
}
.ser:hover{
    background-color: #415678;
    color: #fff;
  }

  .contact{
    background-color: #717e96;
    border-radius: 20px;
  }
  .btn3{
    background-color: #415678;
    margin-top:50px;
    margin-bottom: 50px;
  
  }
.btn3:hover{
  background-color: #717e96;
}

.card-img-top.easter{
  border-radius:30px;
}
.card-img-top.easter:hover{
  
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
.btn.btns{
  background-color: #415678;
}
.div{
  background-color:#020312;
}
